.outputList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.outputList ul {
    border: 1px solid black;
    list-style: none;
    text-align: left;
    padding: 10px;
    margin: 0 auto;
    width: 83px;
}

.outputList li {
    margin: 0px 10px;
    border-bottom: 1px solid black;
}

.contentBox {
    width: 450px;
    margin: 0 auto;
}