.flexRow {
    display: flex;
    justify-content: space-around;
}

.projectLists {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: fit-content;
    padding: 10px;
}

.projectLists ul {
    margin: 0;
    background: linear-gradient(0deg, rgba(78, 78, 78, 0.8) 0%, rgba(22, 22, 22, 0.8) 100%);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    list-style: none;
}

.greyd {
    color: grey;
    background-color: darkgrey;
}

.projectLists li {
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid white;
    border-top: none;
    padding: 5px 10px;

}

.projectLists li:hover {
    box-sizing: border-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
    color: white;
    text-decoration: none;
}

.projectLists h3 {
    margin: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0%, rgba(122, 122, 122, 1) 30%, rgba(122, 122, 122, 1) 70%, rgba(255, 255, 255, .15) 100%);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    width: 150px;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.projectLists a {
    box-sizing: border-box;
    color: white;
    text-shadow: none;
    text-decoration: none;
}