:root {
    --gradient-blue: linear-gradient(10deg, #0099ff 0%, #0059ff 100%);
    --gradient-green: linear-gradient(10deg, #81b800 0%, #00ce00 100%);
    --gradient-red: linear-gradient(10deg, #ff8800 0%, #ff0000 100%);
    --gradient-purple: linear-gradient(10deg, #8c00ff 0%, #3700ff 100%);
    --gradient-steel: linear-gradient(10deg, #e7e7e7 0%, #b8b8b8 100%);
}